migrations/*.js
truffle.js
webpack.config.js
bower_components/
build/
test/contracts/
node_modules/
.netlify
firebase.json
firebase-debug.log
.firebaserc
service-worker.js
sw-precache-config.js
src/swarm-city.min.js
browserify.js